{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur o'Faq{% endblock %}


{% block content %}
 <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum nemo voluptatibus assumenda cumque. Nam neque, quos inventore quisquam odit cumque voluptas sed expedita repudiandae, dolor tenetur obcaecati doloremque aspernatur culpa.</a>
                {% for question in questions %}
                    <div>
                        {% for tag in question.tags %}
                            <a href="#"><span class="badge badge-primary">{{ tag.name }}</span></a>
                        {% endfor %}
                    </div>
                
                    <div>
                        <a class="d-block" href="#">{{ question.title }}</a>
                        <div>
                            {% for tag in question.tags %}
                                <a href="#">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                        {# <p>{{ question.createdAt }}</p> #}
                        <p>Question de {{ question.author.username }}</p>
                        <p>{{ question.content }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-2"></div>


{% endblock %}
