{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur o'Faq{% endblock %}


{% block content %}
 <div class="row">
            <div class="col-2"></div>
            <div class="col-8 breadcrumb">
                {% for question in questions %}
                    <div>
                        {% for tag in question.tags %}
                            <a href="#"><span class="badge badge-primary">{{ tag.name }}</span></a>
                        {% endfor %}
                    </div>
                
                    <div>
                        <a class="d-block" href="{{ path('show_question', {'id': question.id}) }}">{{ question.title }}</a>
                        
                        {# <p>{{ question.createdAt }}</p> #}
                        <p>Question de {{ question.author.username }}</p>
                        <p>{{ question.content }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-2"></div>


{% endblock %}
