{% extends 'base.html.twig' %}

{% block title %}What the Faq : Bienvenue{% endblock %}


{% block content %}
    {% for question in questions %}
        <div class="row">
            <div class="col-2 d-flex flex-column justify-content-center">
                {% if is_granted('ROLE_MODO') %}
                    {% if question.isActive == true %}
                        <a class="btn btn-danger inline-block" href="{{ path('back_activation_question', {'id': question.id}) }}">
                            Refuser la question
                        </a>
                    {% else %}
                        <a class="btn btn-success" href="{{ path('back_activation_question', {'id': question.id}) }}">
                            Accepter la question
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-8{% if question.isActive == true %} breadcrumb {% else %} alert alert-danger {% endif %}d-flex flex-column">
                <div>
                    {% for tag in question.tags %}
                        <a href="#">
                            <span class="badge badge-primary">
                                {{ tag.name }}
                            </span>
                        </a>
                    {% endfor %}
                </div>
            
                <div>
                    <h4>
                        <a class="d-block" href="{{ path('answers_by_question', {'id': question.id}) }}">
                            {{ question.title }}
                        </a>
                    </h4>
                    <p>Question de {{ question.author.username }} le {{ question.createdAt|date ('d-m-Y H:i') }}</p>
                </div>
            </div>
            <div class="col-2">
            </div>
        </div>        
    {% endfor %}
{% endblock %}

