{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur What the FAQ{% endblock %}


{% block content %}
    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-2 d-flex flex-column justify-content-center">
            {% if is_granted('ROLE_MODO') %}
            Respect de la charte
                {% if question.isActive == true %}
                    <a class="btn btn-danger" href="{{ path('back_activation_question', {'id': question.id}) }}">
                        Refuser la question
                    </a>
                {% else %}
                    <a class="btn btn-success" href="{{ path('back_activation_question', {'id': question.id}) }}">
                        Accepter la question
                    </a>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-8 breadcrumb d-flex flex-column">
            <div>
                {% for tag in question.tags %}
                    <a href="{{ path('tag_questions', {'id': tag.id}) }}"><span class="badge badge-primary">{{ tag.name }}</span></a>
                {% endfor %}
            </div>
        
            <div class="d-flex flex-column">
                <h4>
                    <a class="d-block" href="#">
                        {{ question.title }}
                    </a>
                </h4>
                <p>Question de {{ question.author.username }} le {{ question.createdAt.date|date ('d-m-Y H:i') }}</p>
                <p>{{ question.content }}</p>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    {% if validatedAnswer != null %}
        <div class="row">
            <div class="col-2 d-flex flex-column justify-content-center">
                {% if is_granted('ROLE_MODO') %}
                Respect de la charte
                    {% if validatedAnswer.isActive == true %}
                        <a class="btn btn-danger" href="{{ path('back_activation_answer', {'id': validatedAnswer.id}) }}">
                            Refuser la réponse
                        </a>
                    {% else %}
                        <a class="btn btn-success" href="{{ path('back_activation_answer', {'id': validatedAnswer.id}) }}">
                            Accepter la réponse
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            
            <div class="col-8 alert alert-success d-flex flex-column">

                <p>Réponse de {{ validatedAnswer.author.username }} le {{ validatedAnswer.createdAt.date|date ('d-m-Y H:i') }}</p>
                <p>{{ validatedAnswer.content }}</p>
            </div>  
            <div class="col-2 d-flex flex-column justify-content-center">
                {% if isQuestionAuthor == true %}
                    <a class="btn btn-danger" href="{{ path('unValidate_answer_for_question', {'id': question.id}) }}">
                        Ne m'a pas aidé
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    
    
    {% for answer in answers %}
        {% if validatedAnswer == null or validatedAnswer.id != answer.id %}
        
            <div class="row">
            
                <div class="col-2 d-flex flex-column justify-content-center">
                    {% if is_granted('ROLE_MODO') %}
                    Respect de la charte
                        {% if answer.isActive == true %}
                            <a class="btn btn-danger" href="{{ path('back_activation_answer', {'id': answer.id}) }}">
                                Refuser la réponse
                            </a>
                        {% else %}
                            <a class="btn btn-success" href="{{ path('back_activation_answer', {'id': answer.id}) }}">
                                Accepter la réponse
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                
                <div class="col-8{% if answer.isActive == true %} breadcrumb {% else %} alert alert-danger {% endif %}d-flex flex-column">

                    <p>Réponse de {{ answer.author.username }} le {{ answer.createdAt.date|date ('d-m-Y H:i') }}</p>
                    <p>{{ answer.content }}</p>
                </div>  
                
                
                
                <div class="col-2 d-flex flex-column justify-content-center">
                    {% if isQuestionAuthor == true and validatedAnswer == null %}
                        <a class="btn btn-success" href="{{ path('validate_answer_for_question', {'answerId': answer.id, 'id': question.id}) }}">A résolu mon problème</a>
                    {% endif %}
                    
                </div>
            </div>

        {% endif %}    
    {% endfor %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        
        <div class="row">
            <div class="col-2">
                
            </div>
            
            <div class="col-8 alert alert-primary">
                <h4>
                	Proposez une solution
                </h4>
                {% include 'back/answer/_form.html.twig' %}
            </div>
            
            <div class="col-2">
            </div>
        </div>
    {% else %}
        <p>
            Pour répondre à cette question veuillez d'abord vous <a href="{{ path('app_login') }}">connecter</a>
        </p>
    {% endif %}
    


{% endblock %}
