{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur What the FAQ{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8 breadcrumb d-flex flex-column">
            <div>
                {% for tag in question.tags %}
                    <a href="#"><span class="badge badge-primary">{{ tag.name }}</span></a>
                {% endfor %}
            </div>
        
            <div>
                <h4>
                    <a class="d-block" href="#">
                        {{ question.title }}
                    </a>
                </h4>
                <p>Question de {{ question.author.username }} le {{ question.createdAt.date|date ('d-m-Y H:i') }}</p>
                <p>{{ question.content }}</p>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    {% if validatedAnswer != null %}
        <div class="row">
            <div class="col-2">
            </div>
            
            <div class="col-8 alert alert-success">

                <p>Réponse de {{ validatedAnswer.author.username }} le {{ validatedAnswer.createdAt.date|date ('d-m-Y H:i') }}</p>
                <p>{{ validatedAnswer.content }}</p>
            </div>  
            <div class="col-2">
                <a class="btn btn-danger" href="{{ path('unValidate_answer_for_question', {'id': question.id}) }}">Cette solution ne m'a pas aidé</a>
            </div>
        </div>
    {% endif %}
    
    
    {% for answer in answers %}
        {% if validatedAnswer == null or validatedAnswer.id != answer.id %}
        
            <div class="row">
                <div class="col-2">
                </div>
                
                <div class="col-8 breadcrumb">

                    <p>Réponse de {{ answer.author.username }} le {{ answer.createdAt.date|date ('d-m-Y H:i') }}</p>
                    <p>{{ answer.content }}</p>
                </div>  
                
                
                
                <div class="col-2">
                    {% if isQuestionAuthor == true and validatedAnswer == null %}
                        <a class="btn btn-success" href="{{ path('validate_answer_for_question', {'answerId': answer.id, 'id': question.id}) }}">Cette réponse a résolu mon problème</a>
                    {% endif %}
                    
                </div>
            </div>

        {% endif %}    
    {% endfor %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="row">
            <div class="col-2">
            </div>
            
            <div class="col-8 alert alert-primary">
                {% include 'back/answer/_form.html.twig' %}
            </div>
            
            <div class="col-2">
            </div>
        </div>
    {% else %}
        <p>
            Pour répondre à cette question veuillez d'abord vous <a href="{{ path('app_login') }}">connecter</a>
        </p>
    {% endif %}
    


{% endblock %}
