<div class="container">
            <div class="d-flex">
                <nav class="col-4">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tags</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('question_new') }}">Poser une question</a>
                        </li>
                    </ul>
                </nav>
                <nav class="col-8 d-flex justify-content-end">
                    <ul class="nav nav-pills nav">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">
                                <a class="nav-link btn-primary m-1" href="{{ path('user_account') }}#"><i class="fas fa-user"></i> Mon compte</a>
                            </li>
                            {% if is_granted('ROLE_MODO') %}
                                <li class="nav-item">
                                    <a class="nav-link btn-warning m-1" href="{{ path('home') }}#"><i class="fas fa-rocket"></i> Administration</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link btn-dark m-1" href="{{ path('app_logout') }}"><i class="fas fa-external-link-alt"></i> Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link btn-info m-1" href="{{ path('app_login') }}"><i class="fas fa-door-open"></i></i> Connexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">